<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pagina para CV</title>
</head>

<body>
  <h1>Mi CV - ALV</h1>
  <p th:text="'Hola mi nombre es ' + ${name}">Texto por defecto</p>
  <p th:text="'Hola mi nombre es ' + ${person.name} + ' ' + ${person.lastName} + ', soy ' + ${person.profession}">Texto
    por defecto</p>
  <!-- Ejemplo de IF -->
  <p th:if="${person.name.length() < 3}" style="color: red">El nombre tiene menos de 3 letras</p>
  

</body>

</html>